<div class="container my-4">

    <div class="card p-4 shadow-sm rounded-4 android-card">
      <h3 class="text-center mb-3 fw-bold text-primary">Add New Banner</h3>
  
      <form [formGroup]="bannerForm">
  
        <div class="mb-3">
          <label class="form-label fw-semibold">Sponsor ID</label>
          <input class="form-control" formControlName="sponcerid" placeholder="Enter sponsor ID">
        </div>
  
        <div class="mb-3">
          <label class="form-label fw-semibold">Banner Type</label>
          <input class="form-control" formControlName="bannertype" placeholder="Eg: home, slider, ads">
        </div>
  
        <div class="mb-3">
          <label class="form-label fw-semibold">Banner Name</label>
          <input class="form-control" formControlName="name">
        </div>
  
        <div class="mb-3">
          <label class="form-label fw-semibold">Description</label>
          <textarea class="form-control" rows="2" formControlName="desc"></textarea>
        </div>
  
        <div class="mb-3">
          <label class="form-label fw-semibold">Upload Image</label>
          <input type="file" class="form-control" (change)="onFileSelected($event)" accept="image/*">
  
          <div *ngIf="preview" class="mt-2">
            <img [src]="preview" class="banner-img">
          </div>
        </div>
  
        <button (click)="addBanner()" class="btn btn-primary w-100 py-2 rounded-4 fw-bold">
          Add Banner
        </button>
  
      </form>
    </div>
  
    <hr class="my-4">
  
    <h4 class="fw-bold mb-3 text-secondary">All Banners</h4>

    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let b of banners">
        
        <div class="card p-3 banner-item shadow-sm rounded-4">
    
          <img [src]="b.image" class="banner-img mb-2">
    
          <h5 class="fw-bold"> Name:{{ b.name }}</h5>
    
          <!-- FIXED: API uses "descr" NOT "desc" -->
          <p class="text-muted small">Description:{{ b.descr }}</p>
    
          <!-- Show bannertype -->
          <span class="badge bg-info"> Bannertype:{{ b.bannertype }}</span>
    
          <button class="btn btn-danger btn-sm w-100 rounded-3 mt-2"
                  (click)="deleteBanner(b.id)">
            Delete
          </button>
    
        </div>
    
      </div>
    </div>
    
  
  </div>
  