<div class="text-center mb-2">
  <div class="d-flex flex-wrap justify-content-center gap-2">
    <button *ngFor="let type of userTypes" (click)="selectType(type.value)" class="btn income-btn fw-semibold"
      [ngClass]="selectedUserType === type.value ? 'btn-primary' : 'btn-outline-primary'">
      {{ type.label }}
    </button>
  </div>
</div>
<!--Wallet Sponcer  -->
<div *ngIf="selectedUserType === 'sponcer'" class="container my-5">
  <div class="wallet-transfer container py-4">
    <div class="transactions-section ">
      <h4 class="fw-semibold text-secondary text-center mb-3">Silver Sponcer Income</h4>
      <div class="table-responsive ">
        <table class="table table-bordered table-hover text-center align-middle shadow-sm">
          <thead class="table-primary">
            <tr>
              <th>S.No</th>
              <th>User ID</th>
              <th>Amount (₹)</th>
              <th>Level</th>
              <th>Joined Date </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="tableData.length === 0">
              <td colspan="5" class="text-muted text-center py-3">
                No transactions found
              </td>
            </tr>
            <tr *ngFor="let row of tableData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ row.forid }}</td>
              <td>{{ row.amount }}</td>
              <td>{{ row.level }}</td>
              <td>{{ row.cdate | date:'dd-MM-yyyy' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Level Income Table -->
<div *ngIf="selectedUserType === 'level'" class="container my-5">
  <div class="wallet-transfer container py-4">
    <div class="transactions-section ">
      <h4 class="fw-semibold text-secondary text-center mb-3">Silver Level Income</h4>
      <div class="table-responsive ">
        <table class="table table-bordered table-hover text-center align-middle shadow-sm">
          <thead class="table-primary">
            <tr>
              <th>S.No</th>
              <th>User ID</th>
              <th>Amount (₹)</th>
              <th>Level</th>
              <th>Joined Date </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="tableData.length === 0">
              <td colspan="5" class="text-muted text-center py-3">
                No transactions found
              </td>
            </tr>
            <tr *ngFor="let row of tableData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ row.forid }}</td>
              <td>{{ row.amount }}</td>
              <td>{{ row.level }}</td>
              <td>{{ row.cdate | date:'dd-MM-yyyy' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- bonanaze -->
<div *ngIf="selectedUserType === 'bonanza'" class="container my-5">
  <div class="wallet-transfer container py-4">
    <div class="transactions-section ">
      <h4 class="fw-semibold text-secondary text-center mb-3">Silver Bonanza Rewards</h4>
      <div class="table-responsive ">
        <table class="table table-bordered table-hover text-center align-middle shadow-sm">
          <thead class="table-primary">
            <tr>
              <th>S.No</th>
              <th>Date</th>
              <th>Amount (₹)</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="tableData.length === 0">
              <td colspan="5" class="text-muted text-center py-3">
                No transactions found
              </td>
            </tr>
            <tr *ngFor="let row of tableData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ row.cdate | date:'dd-MM-yyyy' }}</td>
              <td>{{ row.amount }}</td>
              <td>{{ row.remark }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- salary -->
<div *ngIf="selectedUserType === 'salary'" class="container my-5">
  <div class="wallet-transfer container py-4">
    <div class="transactions-section ">
      <h4 class="fw-semibold text-secondary text-center mb-3"> Silver Salary</h4>
      <div class="table-responsive ">
        <table class="table table-bordered table-hover text-center align-middle shadow-sm">
          <thead class="table-primary">
            <tr>
              <th>S.No</th>
              <th>Date</th>
              <th>Amount (₹)</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="tableData.length === 0">
              <td colspan="5" class="text-muted text-center py-3">
                No transactions found
              </td>
            </tr>
            <tr *ngFor="let row of tableData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ row.cdate | date:'dd-MM-yyyy' }}</td>
              <td>{{ row.amount }}</td>
              <td>{{ row.remark }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- loan -->
<div *ngIf="selectedUserType === 'loan'" class="container my-5">
  <div class="wallet-transfer container py-4">
    <div class="transactions-section ">
      <h4 class="fw-semibold text-secondary text-center mb-3"> Silver Loan</h4>
      <div class="table-responsive ">
        <table class="table table-bordered table-hover text-center align-middle shadow-sm">
          <thead class="table-primary">
            <tr>
              <th>S.No</th>
              <th>Date</th>
              <th>Amount (₹)</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="tableData.length === 0">
              <td colspan="5" class="text-muted text-center py-3">
                No transactions found
              </td>
            </tr>
            <tr *ngFor="let row of tableData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ row.cdate | date:'dd-MM-yyyy' }}</td>
              <td>{{ row.amount }}</td>
              <td>{{ row.remark }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>