<!-- <header class="header">
    <button class="menu-btn d-md-none" (click)="toggleSidebar()">
      ☰
    </button>
    <h2 class="title">Dashboard</h2>
    <div class="user">
      <span>Welcome, User</span>
      <div class="avatar">U</div>
    </div>
  </header> -->
  

  <!-- <header class="header">
    <button class="menu-btn" (click)="sidebarService.toggleSidebar()">☰</button>
    <h2 class="title mt-2" >Ecolix</h2>
    <div class="user">
      <span>Welcome, User</span>
      <div class="avatar">U</div>
    </div>
  </header> -->
  
  <!-- header.component.html -->
  <header class="header">
    <button class="menu-btn" (click)="sidebarService.toggleSidebar()">☰</button>
    <h2 class="title">My USERID</h2>
    <div class="user">
      <span>Welcome, SUDHEER</span>
      <div class="avatar">U</div>
    </div>
  </header>
  