<div class="img-back d-flex align-items-center justify-content-center">
    <div class="signup-card shadow-lg">
      <h3 class="text-center mb-4"> Create Account</h3>
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Full Name</label>
          <input type="text" id="name" class="form-control" placeholder="Enter your full name" required />
        </div>
  
        <div class="mb-3">
          <label for="phone" class="form-label">Phone Number</label>
          <input type="tel" id="phone" class="form-control" placeholder="Enter your phone number" required />
        </div>
  
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" id="email" class="form-control" placeholder="Enter your email" required />
        </div>
  
        <div class="mb-3">
          <label for="sportid" class="form-label">sponsor ID</label>
          <input type="text" id="sportid" class="form-control" placeholder="Enter your Sport ID" required />
        </div>
  
        <div class="mb-3">
          <label for="password" class="form-label">Create Password</label>
          <input type="password" id="password" class="form-control" placeholder="Enter your password" required />
        </div>

        <button type="submit" class="btn btn-primary w-100">Create Account</button>
        <p class="bottom-text mt-3">
          Already have an account? <a routerLink="/login">Login here</a>
        </p>
      </form>
    </div>
  </div>
  