<div class="dropdown-container">
    <label for="userType" class="label">Select  Diamond Income:</label>
    <select
      id="userType"
      [(ngModel)]="selectedUserType"
      (ngModelChange)="onUserTypeChange()"
      class="select">
      <option value="" disabled> Select Diamond Income </option>
      <option *ngFor="let type of userTypes" [value]="type.value">
        {{ type.label }}
      </option>
    </select>
  </div>

  <div *ngIf="selectedUserType === 'level_Income'" class="container my-5">
    <div class="card shadow-sm border-0">
      <div class="card-header bg-primary text-white text-center py-3">
        <h3 class="mb-0 fw-bold">Welcome Level Income</h3>
      </div>
      <div class="card-body p-3">
        <!-- Only Table Scroll -->
        <div class="table-responsive">
          <table class="table table-hover table-striped table-borderless align-middle mb-0 text-center">
            <thead class="table-dark">
              <tr>
                <th scope="col">S.NO</th>
                <th scope="col">SHARING PV</th>
                <th scope="col">TOTAL IDS</th>
                <th scope="col">TOTAL EARN PV</th>
                <th scope="col">Active</th>
              </tr>
            </thead>
            <!-- <tbody>
              <tr *ngFor="let item of levelIncomeData; let i = index">
                <td class="fw-bold">{{ i + 1 }}</td>
                <td>{{ item.sharingPV }}</td>
                <td>{{ item.totalIds }}</td>
                <td>{{ item.totalEarnPV }}</td>
                <td>{{ item.active ? 'Yes' : 'No' }}</td>
              </tr>
            </tbody> -->
          </table>
        </div>
      </div>
    </div>
  </div>
  
  

  
  <div *ngIf="selectedUserType  === 'bonanaza_income'" class="container my-5">
    <div class="card shadow-lg border-0">
      <div class="card-header bg-primary text-white text-center py-3">
        <h3 class="mb-0 fw-bold"> Welcome bonanaza Rewards
        </h3>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-borderless mb-0 align-middle">
            <thead>
              <tr class="text-white">
                <th class="bg-purple text-center">S.NO</th>
                <th class="bg-gradient-member text-center"> TARGET TEAM
                </th>
                <th class="bg-gradient-sharing text-center">CODER</th>
                <th class="bg-gradient-earn text-center">WORTH OF BONANAZA </th>

                <th class="bg-gradient-earn text-center">Active</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="bg-purple text-white text-center fw-bold"></td>
                <td class="bg-light-blue text-center"></td>
                <td class="bg-light-green text-center"></td>
                <td class="bg-light-green text-center"></td>
                <td class="bg-light-green text-center"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="selectedUserType  === 'salary_income'" class="container my-5">
    <div class="card shadow-lg border-0">
      <div class="card-header bg-primary text-white text-center py-3">
        <h3 class="mb-0 fw-bold"> Welcome salary_income Plan
        </h3>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-borderless mb-0 align-middle">
            <thead>
              <tr class="text-white">
                <th class="bg-purple text-center">S.NO</th>
                <th class="bg-gradient-member text-center"> TARGET TEAM
                </th>
                <th class="bg-gradient-sharing text-center">CADER</th>
                <th class="bg-gradient-earn text-center">MONTHLY PV SALARY </th>
                <th class="bg-gradient-earn text-center">MONTHS</th>
                <th class="bg-gradient-earn text-center">TOTAL SALARY PV</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="bg-purple text-white text-center fw-bold"></td>
                <td class="bg-light-blue text-center"></td>
                <td class="bg-light-green text-center"></td>
                <td class="bg-light-green text-center"></td>
                <td class="bg-light-green text-center"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedUserType  === 'loan'" class="container my-5">
    <div class="card shadow-lg border-0">
      <div class="card-header bg-primary text-white text-center py-3">
        <h3 class="mb-0 fw-bold"> Welcome Loan Plan
        </h3>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-borderless mb-0 align-middle">
            <thead>
              <tr class="text-white">
                <th class="bg-purple text-center">S.NO</th>
                <th class="bg-gradient-member text-center"> CADER
                </th>
                <th class="bg-gradient-sharing text-center"></th>
                <th class="bg-gradient-earn text-center">LOAN PV  </th>
                <th class="bg-gradient-earn text-center">SALARY PV</th>
                <th class="bg-gradient-earn text-center">MONTHS</th>
                <th class="bg-gradient-earn text-center">TOTAL SALARY PV</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="bg-purple text-white text-center fw-bold"></td>
                <td class="bg-light-blue text-center"></td>
                <td class="bg-light-green text-center"></td>
                <td class="bg-light-green text-center"></td>
                <td class="bg-light-green text-center"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedUserType  === 'franchise'" class="container my-5">
    <div class="card shadow-lg border-0">
      <div class="card-header bg-primary text-white text-center py-3">
        <h3 class="mb-0 fw-bold"> Welcome Gift Franchises 
        </h3>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-borderless mb-0 align-middle">
            <thead>
              <tr class="text-white">
                <th class="bg-purple text-center">S.NO</th>
                <th class="bg-gradient-member text-center"> CADER
                </th>
                <th class="bg-gradient-sharing text-center"> GIFT E-POINTS FRANCHISES </th>
               
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="bg-purple text-white text-center fw-bold"></td>
                <td class="bg-light-green text-center"></td>
                <td class="bg-light-green text-center"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>