<div class="container mt-4">

<h4 class="text-center fw-bold">MyReferral
</h4>
  <!-- Optional: Show transactions if any -->
  <div *ngIf="transactions && transactions.length > 0" class="table-responsive mt-4">
    <table class="table table-bordered table-hover align-middle text-center">
      <thead class="table-success">
        <tr>
          <th>S.No</th>
          <th>User ID</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Joined Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of transactions; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ t.regid }}</td>
          <td>{{ t.name }}</td>
          <td>{{ t.phone }}</td>
          <td>{{ t.cdate | date: 'mediumDate' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
