<div class="container">
  <h2 class="fw-bold mb-3">Gold Manager Data</h2>

  <!-- BUTTONS instead of dropdown -->
  <div class="form-group mb-4">
    <label class="form-label fw-semibold">Select Gold Manager</label>
    <div class="btn-group flex-wrap" role="group">
      <button
        *ngFor="let manager of managerOptions"
        type="button"
        class="btn m-1"
        [ngClass]="{
          'btn-warning text-white': selectedManager === manager.value,
          'btn-outline-warning': selectedManager !== manager.value
        }"
        (click)="selectManager(manager.value)"
      >
        {{ manager.label }}
      </button>
    </div>
  </div>
  <!-- Loading -->
  <div class="loading" *ngIf="loading">
    Loading data...
  </div>
  <!-- Table -->

  <div class="wallet-transfer container py-4">
    <div class="transactions-section ">
      <div class="table-responsive ">
        <table class="table table-bordered table-hover text-center align-middle shadow-sm">
          <thead class="table-primary">
            <tr>
              <th>S.no</th>
              <th>Bonanza Date</th>
              <th>Bonanza</th>
              <th>Salary Date</th>
              <th>Salary</th>
              <th>Salary Months</th>
              <th>Salary Credit</th>
              <th>Salary Balance</th>
              <th>Loan Date</th>
              <th>Loan</th>
              <th>Loan Pay</th>
              <th>Loan Months</th>
              <th>Loan Balance</th>
              <th>Loan Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!loading && managerData.length === 0 && selectedManager">
              <td colspan="19" class="text-muted text-center py-3">
                No data available for this manager.
              </td>
            </tr>
            <tr *ngFor="let item of managerData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.bonanzadate }}</td>
              <!-- <td>{{ item.bonanza }}</td> -->
              <td 
              [ngClass]="{
                'text-danger': item.bonusstatus == 0,  
                'text-primary': item.bonusstatus == 1, 
                'text-success': item.bonusstatus == 2  
              }"
            >
              {{ item.bonanza }}
            </td>
              <td>{{ item.salarydate }}</td>
              <td>{{ item.salary }}</td>
              <td>{{ item.salarymonths }}</td>
              <td>{{ item.salarycredit }}</td>
              <td>{{ item.salarybalance }}</td>

              <td>{{ item.loandate }}</td>
              <td>{{ item.loan }}</td>
              <td>{{ item.loanpay }}</td>
              <td>{{ item.loanmonths }}</td>
              <td>{{ item.loanbalance }}</td>
              <td>{{ item.loanstatus }}</td>
      
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>



