<aside class="sidebar" [class.open]="isSidebarOpen">
  <div class="sidebar-header">
    <div class="brand">
      <i class="bi bi-shop"></i>
      <span *ngIf="isUser">User Panel</span>
      <span *ngIf="isAdmin">Admin Panel</span>
    </div>
    <i class="bi bi-x close-btn" (click)="toggleSidebar()"></i>
  </div>

  <nav class="nav">
    <ng-container *ngFor="let item of menuItems">
      <!-- Single Link -->
      <a *ngIf="!item.children" (click)="navigate(item.route)" class="nav-link">
        <i [class]="item.icon"></i>
        <span>{{item.label}}</span>
      </a>

      <!-- With Submenu -->
      <div *ngIf="item.children">
        <div class="nav-item" (click)="toggleSubmenu(item.label)">
          <i [class]="item.icon"></i>
          <span>{{item.label}}</span>
          <i class="bi" [ngClass]="{'bi-chevron-down': !openSubmenus[item.label], 'bi-chevron-up': openSubmenus[item.label]}"></i>
        </div>
        <div class="submenu" *ngIf="openSubmenus[item.label]">
          <a *ngFor="let child of item.children" (click)="navigate(child.route)" class="submenu-link">
            <i [class]="child.icon"></i>
            <span>{{child.label}}</span>
          </a>
        </div>
      </div>
    </ng-container>
  </nav>
</aside>
